@model quentinrider.ViewModels.HomeIndexModel

@{
    Layout = "~/Views/Core/Layout/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>This is a test of the American Broadcast System!</h2>

